@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;600&family=Lora:ital@1&display=swap');

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: #f6fdff;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 400;
  color: #0e2224;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  max-width: 800px;
}

/* Type */
h1, h2, h3, h4 {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
}
h1 {
  margin: 6rem 0 2rem;
  font-size: 4rem;
}
h2 {
  margin: 3.5rem 0 1.2rem;
  font-size: 2.4rem;
  line-height: 1.2;
}
@media screen and (max-width: 596px) {
  body {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}
p {
  margin: 1.2rem 0;
}
a {
  position: relative;
  display: inline-block;
  color: #0c717a;
  text-decoration: none;
}
a::before {
  content: '';
  position: absolute;
  left: -3px;
  right: -3px;
  bottom: 0px;
  height: 2px;
  background-color: #0c717a;
  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
}
a:hover::before, a:focus::before {
  transform: scaleX(1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
}
.em {
  display: inline-block;
  margin-right: 5px;
  font-weight: 600;
}
ul {
  margin: 15px 0;
  padding-left: 6px;
}
li {
  list-style: none;
  margin: 5px 0;
}
ul a {
  margin-right: 5px;
}

/* Sources */
.source {
  padding: 50px 0 30px;
  font-size: 1.2rem;
}